@using Daily.Web.Models
@model DailyViewModel
@{
    ViewData["Title"] = "About daily";
}

<label asp-for="Daily.Date">Дата: 
    @Html.DisplayFor(x => x.Daily.Date)</label><br />
<label asp-for="Daily.Yesterday">Вчера: 
    @Html.DisplayTextFor(x => x.Daily.Yesterday)</label><br />
<label asp-for="Daily.Today">Сегодня: 
    @Html.DisplayTextFor(x => x.Daily.Today)</label><br />
<label asp-for="Daily.NotDone">Не сделано:
    @Html.DisplayTextFor(x => x.Daily.NotDone)</label><br />
<label asp-for="Daily.Problems">Проблемы:
    @Html.DisplayTextFor(x => x.Daily.LinesOfCode)</label><br />
<label asp-for="Daily.LinesOfCode">Строчки кода: 
    @Html.DisplayTextFor(x => x.Daily.LinesOfCode)</label>